<div class="navbar-fixed blue">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp;&nbsp;<strong>Resto Bar</strong></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="#">Home</a></li>
        <%= link_to "Add Flavor", "#modal1", class: "waves-effect waves-light btn modal-trigger blue" %>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
</div>
