<div class="navbar-fixed blue">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp;&nbsp;<strong>Resto Bar</strong></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Ingredients</a></li>
        <li><a href="#">Dose</a></li>
      </ul>
    </div>
  </nav>
</div>
